{
  "openapi": "3.1.0",
  "info": {
    "title": "API Settings",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.payrexx.com/vundefined"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/Page/": {
      "post": {
        "summary": "Create a Page",
        "description": "",
        "operationId": "create-a-page",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of your page (shop / donation)",
            "schema": {
              "type": "string",
              "default": "shop"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "description": "Your Payrexx instance name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description",
                  "psp"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "This is the page title which will be shown on the payment page."
                  },
                  "description": {
                    "type": "string",
                    "description": "This is a description which will be shown on the payment page."
                  },
                  "psp": {
                    "type": "array",
                    "description": "The psp which should be used for the payment.",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "currency": {
                    "type": "string",
                    "description": "The ISO code of the currency."
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "purpose": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "integer",
                          "description": "Amount in cents",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "fields": {
                    "type": "array",
                    "description": "The contact data fields which should be displayed. See fields for more",
                    "items": {
                      "properties": {
                        "title": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "forename": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "surname": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "company": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "street": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "postcode": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "place": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "country": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_title": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_forename": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_surname": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_company": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_street": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_postcode": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_place": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_country": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "date_of_birth": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "terms": {
                          "type": "string",
                          "description": "The terms must be accepted if this field is defined in the request"
                        },
                        "privacy_policy": {
                          "type": "string",
                          "description": "The privacy policy must be accepted if this field is defined in the request"
                        },
                        "custom_field_1": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_2": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_3": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_4": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_5": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "customAmount": {
                    "type": "boolean",
                    "description": "Only for type donation.",
                    "default": false
                  },
                  "goalAmount": {
                    "type": "integer",
                    "description": "Goal amount in cents. Only for type donation.",
                    "format": "int32"
                  },
                  "subscription": {
                    "type": "boolean",
                    "description": "Defines whether the payment should be handled as subscription. Only for type shop.",
                    "default": false
                  },
                  "preAuthorization": {
                    "type": "boolean",
                    "description": "Whether charge payment manually at a later date (type authorization). Only for type shop.",
                    "default": false
                  },
                  "reservation": {
                    "type": "boolean",
                    "description": "Whether charge payment manually at a later date (type reservation). Only for type shop.",
                    "default": false
                  },
                  "subscriptionInterval": {
                    "type": "string",
                    "description": "The payment interval as string. (see PHP documentation of date interval for format, for type donation only the following intervals are permitted P7D, P1M, P3M, P1Y)"
                  },
                  "subscriptionPeriod": {
                    "type": "string",
                    "description": "The subscription's period as string. Only for type shop. (see PHP documentation of date interval for format)"
                  },
                  "subscriptionCancellationInterval": {
                    "type": "string",
                    "description": "The interval of cancellation as string. Only for type shop. (see PHP documentation of date interval for format)"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description",
                  "psp"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "This is the page title which will be shown on the payment page."
                  },
                  "description": {
                    "type": "string",
                    "description": "This is a description which will be shown on the payment page."
                  },
                  "psp": {
                    "type": "array",
                    "description": "The psp which should be used for the payment.",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "currency": {
                    "type": "string",
                    "description": "The ISO code of the currency."
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "purpose": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "integer",
                          "description": "Amount in cents",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "fields": {
                    "type": "array",
                    "description": "The contact data fields which should be displayed. See fields for more",
                    "items": {
                      "properties": {
                        "title": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "forename": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "surname": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "company": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "street": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "postcode": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "place": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "country": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_title": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_forename": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_surname": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_company": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_street": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_postcode": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_place": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "delivery_country": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "date_of_birth": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "terms": {
                          "type": "string",
                          "description": "The terms must be accepted if this field is defined in the request"
                        },
                        "privacy_policy": {
                          "type": "string",
                          "description": "The privacy policy must be accepted if this field is defined in the request"
                        },
                        "custom_field_1": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_2": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_3": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_4": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        },
                        "custom_field_5": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "array",
                              "description": "Name of field",
                              "items": {
                                "type": "string"
                              }
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of field"
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "customAmount": {
                    "type": "boolean",
                    "description": "Only for type donation.",
                    "default": false
                  },
                  "goalAmount": {
                    "type": "integer",
                    "description": "Goal amount in cents. Only for type donation.",
                    "format": "int32"
                  },
                  "subscription": {
                    "type": "boolean",
                    "description": "Defines whether the payment should be handled as subscription. Only for type shop.",
                    "default": false
                  },
                  "preAuthorization": {
                    "type": "boolean",
                    "description": "Whether charge payment manually at a later date (type authorization). Only for type shop.",
                    "default": false
                  },
                  "reservation": {
                    "type": "boolean",
                    "description": "Whether charge payment manually at a later date (type reservation). Only for type shop.",
                    "default": false
                  },
                  "subscriptionInterval": {
                    "type": "string",
                    "description": "The payment interval as string. (see PHP documentation of date interval for format, for type donation only the following intervals are permitted P7D, P1M, P3M, P1Y)"
                  },
                  "subscriptionPeriod": {
                    "type": "string",
                    "description": "The subscription's period as string. Only for type shop. (see PHP documentation of date interval for format)"
                  },
                  "subscriptionCancellationInterval": {
                    "type": "string",
                    "description": "The interval of cancellation as string. Only for type shop. (see PHP documentation of date interval for format)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n    \"status\": \"success\",\n    \"data\": [\n        {\n            \"id\": 122,\n            \"uuid\": \"99c54c5a\",\n            \"type\": \"shop\",\n            \"donatedAmount\": 0,\n            \"donationGoalAmount\": null,\n            \"donationPercentage\": null,\n            \"link\": \"https://test.com\",\n            \"name\": \"\",\n            \"title\": \"Test\",\n            \"description\": \"Test\",\n            \"buttonText\": \"\",\n            \"fields\": {\n                \"email\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"company\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"title\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"forename\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"surname\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"street\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"postcode\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"place\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"country\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"phone\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"confirm_email\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"date_of_birth\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                }\n            },\n            \"psp\": [\n                44\n            ],\n            \"pm\": [],\n            \"subscriptionInterval\": \"P10D\",\n            \"subscriptionPeriod\": \"P10D\",\n            \"subscriptionPeriodMinAmount\": 0,\n            \"subscriptionCancellationInterval\": \"P70D\",\n            \"createdAt\": 1518566400,\n            \"requestId\": 1395\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 122,
                            "default": 0
                          },
                          "uuid": {
                            "type": "string",
                            "example": "99c54c5a"
                          },
                          "type": {
                            "type": "string",
                            "example": "shop"
                          },
                          "donatedAmount": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "donationGoalAmount": {},
                          "donationPercentage": {},
                          "link": {
                            "type": "string",
                            "example": "https://test.com"
                          },
                          "name": {
                            "type": "string",
                            "example": ""
                          },
                          "title": {
                            "type": "string",
                            "example": "Test"
                          },
                          "description": {
                            "type": "string",
                            "example": "Test"
                          },
                          "buttonText": {
                            "type": "string",
                            "example": ""
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "title": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "forename": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "surname": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "street": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "postcode": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "place": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "country": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "phone": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "confirm_email": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "date_of_birth": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              }
                            }
                          },
                          "psp": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 44,
                              "default": 0
                            }
                          },
                          "pm": {
                            "type": "array"
                          },
                          "subscriptionInterval": {
                            "type": "string",
                            "example": "P10D"
                          },
                          "subscriptionPeriod": {
                            "type": "string",
                            "example": "P10D"
                          },
                          "subscriptionPeriodMinAmount": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "subscriptionCancellationInterval": {
                            "type": "string",
                            "example": "P70D"
                          },
                          "createdAt": {
                            "type": "integer",
                            "example": 1518566400,
                            "default": 0
                          },
                          "requestId": {
                            "type": "integer",
                            "example": 1395,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"error\",\n    \"message\": \"An error occurred: No Page found with id 145\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred: No Page found with id 145"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \"https://api.payrexx.com/v1.0/Page/?type=TYPE&instance=INSTANCE_NAME\" \\\n     --header 'X-API-KEY: INSTANCE_API_SECRET' \\\n     --header 'accept: application/json' \\\n     --header 'Content-Type: application/json' \\\n     --data '{\n       \"title\": \"test\",\n       \"psp\": [44],\n       \"description\": \"test\"\n     }'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Retrieve Pages",
        "description": "",
        "operationId": "retrieve-pages",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of your page (shop / donation)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "shop"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "description": "Your Payrexx instance name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n    \"status\": \"success\",\n    \"data\": [\n        {\n            \"id\": 122,\n            \"uuid\": \"99c54c5a\",\n            \"type\": \"shop\",\n            \"donatedAmount\": 0,\n            \"donationGoalAmount\": null,\n            \"donationPercentage\": null,\n            \"link\": \"https://test.com\",\n            \"name\": \"\",\n            \"title\": \"Test\",\n            \"description\": \"Test\",\n            \"buttonText\": \"\",\n            \"fields\": {\n                \"email\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"company\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"title\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"forename\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"surname\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"street\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"postcode\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"place\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"country\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"phone\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"confirm_email\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                },\n                \"date_of_birth\": {\n                    \"active\": true,\n                    \"mandatory\": false\n                }\n            },\n            \"psp\": [\n                44\n            ],\n            \"pm\": [],\n            \"subscriptionInterval\": \"P10D\",\n            \"subscriptionPeriod\": \"P10D\",\n            \"subscriptionPeriodMinAmount\": 0,\n            \"subscriptionCancellationInterval\": \"P70D\",\n            \"createdAt\": 1518566400\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 122,
                            "default": 0
                          },
                          "uuid": {
                            "type": "string",
                            "example": "99c54c5a"
                          },
                          "type": {
                            "type": "string",
                            "example": "shop"
                          },
                          "donatedAmount": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "donationGoalAmount": {},
                          "donationPercentage": {},
                          "link": {
                            "type": "string",
                            "example": "https://test.com"
                          },
                          "name": {
                            "type": "string",
                            "example": ""
                          },
                          "title": {
                            "type": "string",
                            "example": "Test"
                          },
                          "description": {
                            "type": "string",
                            "example": "Test"
                          },
                          "buttonText": {
                            "type": "string",
                            "example": ""
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "title": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "forename": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "surname": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "street": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "postcode": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "place": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "country": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "phone": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "confirm_email": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "date_of_birth": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              }
                            }
                          },
                          "psp": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 44,
                              "default": 0
                            }
                          },
                          "pm": {
                            "type": "array"
                          },
                          "subscriptionInterval": {
                            "type": "string",
                            "example": "P10D"
                          },
                          "subscriptionPeriod": {
                            "type": "string",
                            "example": "P10D"
                          },
                          "subscriptionPeriodMinAmount": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "subscriptionCancellationInterval": {
                            "type": "string",
                            "example": "P70D"
                          },
                          "createdAt": {
                            "type": "integer",
                            "example": 1518566400,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"error\",\n    \"message\": \"An error occurred: No Page found with id 145\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred: No Page found with id 145"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n     --url 'https://api.payrexx.com/v1.0/Page/?type=TYPE&instance=INSTANCE_NAME' \\\n     --header 'X-API-KEY: INSTANCE_API_SECRET' \\\n     --header 'accept: application/json'"
            },
            {
              "language": "php",
              "code": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('GET', 'https://api.payrexx.com/v1.0/Page/?type=TYPE&instance=INSTANCE_NAME', [\n  'headers' => [\n    'X-API-KEY' => 'INSTANCE_API_SECRET',\n    'accept' => 'application/json',\n  ],\n]);\n\necho $response->getBody();"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.payrexx.com/v1.0/Page/?type=TYPE&instance=INSTANCE_NAME\"\n\nheaders = {\n    \"accept\": \"application/json\",\n    \"X-API-KEY\": \"INSTANCE_API_SECRET\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            }
          ],
          "samples-languages": [
            "curl",
            "php",
            "python"
          ]
        }
      }
    },
    "/Subscription/{id}/": {
      "put": {
        "summary": "Update a Subscription",
        "description": "",
        "operationId": "update-a-subscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the subscription to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "description": "Your Payrexx instance name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "The new amount in cents which will be payed on the next payment interval."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The ISO code of the currency of the payment."
                  },
                  "purpose": {
                    "type": "string",
                    "description": "The payment purpose. What is the payer paying for?"
                  },
                  "vatRate": {
                    "type": "string",
                    "description": "VAT Rate Percentage"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "The new amount in cents which will be payed on the next payment interval."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The ISO code of the currency of the payment."
                  },
                  "purpose": {
                    "type": "string",
                    "description": "The payment purpose. What is the payer paying for?"
                  },
                  "vatRate": {
                    "type": "string",
                    "description": "VAT Rate Percentage"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"data\": [\n        {\n            \"id\": 1,\n            \"status\": \"active\",\n            \"start\": \"2014-12-18\",\n            \"end\": null,\n            \"valid_until\": \"2015-01-18\",\n            \"invoice\": {\n                \"number\": \"Test subscription\",\n                \"amount\": 1,\n                \"currency\": \"CHF\",\n                \"referenceId\": \"\",\n                \"paymentRequestId\": null,\n                \"paymentLink\": null\n            },\n            \"contact\": {\n                \"id\": 1,\n                \"title\": \"\",\n                \"firstname\": \"\",\n                \"lastname\": \"\",\n                \"company\": \"\",\n                \"street\": \"\",\n                \"zip\": \"\",\n                \"place\": \"\",\n                \"country\": \"\",\n                \"countryISO\": \"\",\n                \"phone\": \"\",\n                \"email\": \"user@example.com\",\n                \"date_of_birth\": \"\"\n            }\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "active"
                          },
                          "start": {
                            "type": "string",
                            "example": "2014-12-18"
                          },
                          "end": {},
                          "valid_until": {
                            "type": "string",
                            "example": "2015-01-18"
                          },
                          "invoice": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "string",
                                "example": "Test subscription"
                              },
                              "amount": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "currency": {
                                "type": "string",
                                "example": "CHF"
                              },
                              "referenceId": {
                                "type": "string",
                                "example": ""
                              },
                              "paymentRequestId": {},
                              "paymentLink": {}
                            }
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "title": {
                                "type": "string",
                                "example": ""
                              },
                              "firstname": {
                                "type": "string",
                                "example": ""
                              },
                              "lastname": {
                                "type": "string",
                                "example": ""
                              },
                              "company": {
                                "type": "string",
                                "example": ""
                              },
                              "street": {
                                "type": "string",
                                "example": ""
                              },
                              "zip": {
                                "type": "string",
                                "example": ""
                              },
                              "place": {
                                "type": "string",
                                "example": ""
                              },
                              "country": {
                                "type": "string",
                                "example": ""
                              },
                              "countryISO": {
                                "type": "string",
                                "example": ""
                              },
                              "phone": {
                                "type": "string",
                                "example": ""
                              },
                              "email": {
                                "type": "string",
                                "example": "user@example.com"
                              },
                              "date_of_birth": {
                                "type": "string",
                                "example": ""
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "php",
              "code": "<?php\n// $instanceName is a part of the url where you access your payrexx installation.\n// https://{$instanceName}.payrexx.com\n$instanceName = 'YOUR_INSTANCE_NAME';\n\n// $secret is the payrexx secret for the communication between the applications\n// if you think someone got your secret, just regenerate it in the payrexx administration\n$secret = 'YOUR_SECRET';\n\n$payrexx = new \\Payrexx\\Payrexx($instanceName, $secret);\n\n$subscription = new \\Payrexx\\Models\\Request\\Subscription();\n$subscription->setId(1);\n$subscription->setAmount(500);\n$subscription->setCurrency('CHF');\n$subscription->setPurpose('Test');\ntry {\n    $response = $payrexx->update($subscription);\n    var_dump($response);\n} catch (\\Payrexx\\PayrexxException $e) {\n    print $e->getMessage();\n}"
            }
          ],
          "samples-languages": [
            "php"
          ]
        }
      },
      "delete": {
        "summary": "Remove a Subscription",
        "description": "",
        "operationId": "remove-a-subscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the subscription to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "instance",
            "in": "query",
            "description": "Your Payrexx instance name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"success\",\n  \"data\":[\n    {\n      \"id\":1,\n      \"status\":\"cancelled\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "cancelled"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "php",
              "code": "<?php\n$instanceName = %instanceName%;\n$secret = %secret%;\n\n$payrexx = new \\Payrexx\\Payrexx($instanceName, $secret);\n\n$subscription = new \\Payrexx\\Models\\Request\\Subscription();\n$subscription->setId(1);\ntry {\n    $response = $payrexx->cancel($subscription);\n} catch (\\Payrexx\\PayrexxException $e) {\n    die($e->getMessage());\n}"
            }
          ],
          "samples-languages": [
            "php"
          ]
        }
      }
    },
    "/Invoice/{id}/": {
      "get": {
        "summary": "Retrieve a Paylink",
        "description": "",
        "operationId": "retrieve-a-paylink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Invoice to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "instance",
            "in": "query",
            "description": "Your Payrexx instance name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Raw": {
                    "value": "{\n    \"status\": \"success\",\n    \"data\": [\n        {\n            \"id\": 1,\n            \"status\": \"(waiting|confirmed|authorized|reserved)\",\n            \"hash\": \"382c85eab7a86278e3c3b06a23af2358\",\n            \"referenceId\": \"Order number of my online shop application\",\n            \"link\": \"https://demo.payrexx.com/?payment=382c85eab7a86278e3c3b06a23af2358\",\n            \"invoices\": [],\n            \"preAuthorization\": 0,\n            \"name\": \"Online-Shop payment #001\",\n            \"api\": true,\n            \"fields\": {\n                \"title\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"forename\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"surname\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"company\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"street\": {\n                    \"active\": false,\n                    \"mandatory\": false\n                },\n                \"postcode\": {\n                    \"active\": false,\n                    \"mandatory\": false\n                },\n                \"place\": {\n                    \"active\": false,\n                    \"mandatory\": false\n                },\n                \"country\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"phone\": {\n                    \"active\": false,\n                    \"mandatory\": false\n                },\n                \"email\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"date_of_birth\": {\n                    \"active\": false,\n                    \"mandatory\": false\n                },\n                \"terms\": {\n                    \"active\": true,\n                    \"mandatory\": true\n                },\n                \"custom_field_1\": {\n                    \"active\": true,\n                    \"mandatory\": true,\n                    \"names\": {\n                        \"de\": \"This is a field\",\n                        \"en\": \"This is a field\",\n                        \"fr\": \"This is a field\",\n                        \"it\": \"This is a field\"\n                    }\n                },\n                \"custom_field_2\": {\n                    \"active\": false,\n                    \"mandatory\": false,\n                    \"names\": {\n                        \"de\": \"\",\n                        \"en\": \"\",\n                        \"fr\": \"\",\n                        \"it\": \"\"\n                    }\n                },\n                \"custom_field_3\": {\n                    \"active\": false,\n                    \"mandatory\": false,\n                    \"names\": {\n                        \"de\": \"\",\n                        \"en\": \"\",\n                        \"fr\": \"\",\n                        \"it\": \"\"\n                    }\n                }\n            },\n            \"psp\": 1,\n            \"pm\": [],\n            \"purpose\": \"Shop Order #001\",\n            \"amount\": 590,\n            \"vatRate\": 7.7,\n            \"currency\": \"CHF\",\n            \"sku\": \"P01122000\",\n            \"subscriptionState\": false,\n            \"subscriptionInterval\": \"\",\n            \"subscriptionPeriod\": \"\",\n            \"subscriptionPeriodMinAmount\": 0,\n            \"subscriptionCancellationInterval\": \"\",\n            \"createdAt\": 1418392958\n        }\n    ]\n}"
                  },
                  "Python JSON dict": {
                    "value": "{  \n   'referenceId':'test',\n   'hash':'1fc5588c482e5e787eb271555b979f98',\n   'subscriptionState':False,\n   'status':'(waiting|confirmed|authorized|reserved)',\n   'name':'',\n   'amount':200,\n   'vatRate':7.7,\n   'sku':'P01122000',\n   'link':'https://demo.payrexx.com/?payment=1fc5588c482e5e787eb271555b979f98',\n   'preAuthorization':0,\n   'subscriptionPeriodMinAmount':0,\n   'id':38,\n   'createdAt':1481923840,\n   'currency':'CHF',\n   'subscriptionInterval':'',\n   'purpose':{  \n      '7':'test',\n      '2':'test',\n      '1':'test',\n      '3':'test',\n      '4':'test'\n   },\n   'api':True,\n   'subscriptionCancellationInterval':'',\n   'fields':{  \n      'header':{  \n         'names':{  \n            'nl':'',\n            'de':'Kontaktdaten',\n            'it':'Dati di contatto',\n            'en':'Contact details',\n            'fr':'DonnÃ©es de contact'\n         },\n         'active':True,\n         'mandatory':False\n      }\n   },\n   'title':'test',\n   'psp':1,\n   'description':'test',\n   'subscriptionPeriod':'',\n   'invoices':[  \n\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "(waiting|confirmed|authorized|reserved)"
                          },
                          "hash": {
                            "type": "string",
                            "example": "382c85eab7a86278e3c3b06a23af2358"
                          },
                          "referenceId": {
                            "type": "string",
                            "example": "Order number of my online shop application"
                          },
                          "link": {
                            "type": "string",
                            "example": "https://demo.payrexx.com/?payment=382c85eab7a86278e3c3b06a23af2358"
                          },
                          "invoices": {
                            "type": "array"
                          },
                          "preAuthorization": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Online-Shop payment #001"
                          },
                          "api": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "forename": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "surname": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "street": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "postcode": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "place": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "country": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "phone": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "email": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "date_of_birth": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "terms": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              },
                              "custom_field_1": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "names": {
                                    "type": "object",
                                    "properties": {
                                      "de": {
                                        "type": "string",
                                        "example": "This is a field"
                                      },
                                      "en": {
                                        "type": "string",
                                        "example": "This is a field"
                                      },
                                      "fr": {
                                        "type": "string",
                                        "example": "This is a field"
                                      },
                                      "it": {
                                        "type": "string",
                                        "example": "This is a field"
                                      }
                                    }
                                  }
                                }
                              },
                              "custom_field_2": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "names": {
                                    "type": "object",
                                    "properties": {
                                      "de": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "en": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "fr": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "it": {
                                        "type": "string",
                                        "example": ""
                                      }
                                    }
                                  }
                                }
                              },
                              "custom_field_3": {
                                "type": "object",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "mandatory": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "names": {
                                    "type": "object",
                                    "properties": {
                                      "de": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "en": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "fr": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "it": {
                                        "type": "string",
                                        "example": ""
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "psp": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "pm": {
                            "type": "array"
                          },
                          "purpose": {
                            "type": "string",
                            "example": "Shop Order #001"
                          },
                          "amount": {
                            "type": "integer",
                            "example": 590,
                            "default": 0
                          },
                          "vatRate": {
                            "type": "number",
                            "example": 7.7,
                            "default": 0
                          },
                          "currency": {
                            "type": "string",
                            "example": "CHF"
                          },
                          "sku": {
                            "type": "string",
[...]
